.fondo{
    background-color: #323031;
}
.dropdown-container {
      position: relative;
      display: inline-block;
    }
    .dropdown-menu-custom {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 300px;
      max-height: 300px;
      overflow-y: auto;
      background: white;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 0.25rem;
      box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
      z-index: 1050;
      padding: 15px;
    }
    .dropdown-menu-custom.show {
      display: block;
    }

